.resume_box.rbox1 > p{width:100%; font-size:16px; margin: 8px -18px;}
.resume_box.rbox1{width:100%; height:40px; background-color: #ffffff;}
.rbox2Pri > div:nth-child(1){    width: 100%;height: 178px;border: 1px solid #d2d2d2;background-color: #fff;padding: 15px;box-sizing: border-box;}
.info1{width: 444px !important; overflow:hidden !important;} 
.namePri {position: absolute;left: 153px;font-size: 20px;font-weight: 400;}
.imagePreviewPri {width: 100%; height: 140px; background-position: center center; background: url(http://cliquecities.com/assets/no-image-e3699ae….jpg);background-color: #fff;background-size: cover;background-repeat: no-repeat;display: inline-block;box-shadow: 0px -3px 6px 2px rgba(0,0,0,0.2);}
.rbox3 > div > div{width:25% !important;}
.rbox3divPri{display: block !important;}
.choose_content >p{text-align: center; margin-top:17px;} /*  */
.rbox10 > div > table{width:100%; height:100px; border: 1px solid; margin:0 auto;}
.rbox10 > div > table > tbody >tr:nth-child(1){vertical-align:center; text-align:center; background-color:blue;}
.rbox10 > div > table > tr > td{width:100%; height:100%; text-align:center;}
.label{overflow:hidden;}
.value{float: left;}


