<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.resumeMapper">

	<select id="resume_Print" parameterType="String" resultType="resumeVO">
		select * from t_resume where user_id=#{user_id}
	</select>
	
	<select id="selectListToEmp" resultType="resumeVO">
		select * from T_RESUME WHERE on_off = 'on'
	</select>

</mapper>